{% extends 'base.html.twig' %}

{% block title %}{{movie.title}}{% endblock %}

{% block body %}

    <div class="title">
        <h2>{{movie.title}}</h2>
    </div>          

    <div class ="container-read">

        <div class="description">

            <p>Release date : {{movie.releaseDate|date('d/m/Y')}}</p>
            <p>Duration : {{movie.duration}}</p>

            <br>
            
            <u>Genres :</u>
            {# Affichage des genres #}
            {% for genres in movie.genres %}
                {{genres.name}}{{ loop.last ? '' : ', ' }}
            {% else %}
                >No genre available
            {% endfor %}
            

            <br><br>

            <ul>
            <u> Rôles :</u>
            {# Affichage des castings #}
            {# {% for casting in movie.castings %} #}
            {% for casting in castings %}
            <li>({{casting.creditOrder}}) {{casting.role}} : {{casting.person}}</li>
            {% endfor %}
            </ul>

            <br><br>

            <a href="{{path('back_movie_edit', {id: movie.id})}}">
            <div class = "container card card-btn button-edit">
                <h3>Edit</h3>
            </div>
            </a>

             <a href="{{path('back_movie_delete', {id: movie.id}) }}" onclick="return confirm('Voulez-vous supprimez : {{ movie.title }} ?')">
            <div class = "container card card-btn  button-delete" >
                <h3>Delete</h3>
            </div>
            </a>

        </div>

            <div class="poster">
                <img src="{{ movie.poster ?? asset('/images/default-movie.jpg') }}">
            </div>

    </div>


{% endblock %}
