{{ form_start(form, { attr:{ novalidate: 'novalidate' }}) }}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}

    <button class="card-btn button-validate button-validate">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}