{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div class ="title">
        <h2>All Users <i class="fas fa-users-cog"></i></h2>
            <a href="{{ path('back_user_new') }}"><button class="button-validate">Create new</button></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
           <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('back_user_show', {'id': user.id}) }}"><button class="card-btn button-validate">show</button></a>
                    <a href="{{ path('back_user_edit', {'id': user.id}) }}"><button class="card-btn button-validate button-edit">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}</button>
        </tbody>
    </table>


{% endblock %}
