<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">

            

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/app.css">
            
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div id="wrap">
            <header>
                <a href="{{path('home')}}">
                    <div class="brand-logo">
                        <img src="/images/m2H7G6K9G6A0N4m2.png" alt="Brand Logo">
                    </div>
                    <div class="brand-name">
                        <h1>O'Ciné</h1>
                    </div>
                </a>
                
                <input type="checkbox" id="toggle-btn">
                <label for="toggle-btn" class="show-menu-btn"><i class="fas fa-bars"></i></label>

                    <nav>
                        <ul class="navigation">
                            <li><a href="{{path('home')}}" ><i class="fas fa-home"></i>Home</a></li>
                            <li><a href="{% if is_granted('ROLE_USER') %} {{path('app_logout')}}{% else %}{{path('app_login')}}{% endif %}" class="{% block menu_active %}{% endblock %}"><i class="fas fa-sign-{% block menu_logout %}in-alt{% endblock %}"></i>Admin</a></li>
                            <li>
                                <div class="search-container">
                                    <input type="text" name="search" placeholder="Search..." class="search-input">
                                    <a href="#" class="search-btn"><i class="fas fa-search"></i></a>      
                                </div>
                            </li>
                            <label for="toggle-btn" class="hide-menu-btn"><i class="fas fa-times"></i></label>
                        </ul>
                    </nav>
            </header>

            <main>
                {% block body %}{% endblock %}
            </main>

            <footer>
                O'Ciné &copy; Vincent Levionnais - Ecole O'clock, Promo Trinity 2021
            </footer>
        </div>
    </body>
</html>
