<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/app.css">
            <link rel="icon" type="image/x-icon" href="{{ asset('/images/favicon.png') }}" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div id="wrap">
            <header>
                <a href="{{path('home')}}">
                    <div class="brand-logo">
                        <img src="/images/m2H7G6K9G6A0N4m2.png" alt="Brand Logo">
                    </div>
                    <div class="brand-name">
                        <h1>O'Ciné</h1>
                    </div>
                </a>
                
                <input type="checkbox" id="toggle-btn">
                <label for="toggle-btn" class="show-menu-btn"><i class="fas fa-bars"></i></label>

                    <nav>
                        <ul class="navigation">
                            <li><a href="{{path('home')}}"><i class="fas fa-home"></i>Home</a></li>
                            {% if is_granted('ROLE_MANAGER') %}
                            <li><a href="{{path('back_movie_browse')}}"><i class="fas fa-user-check"></i></i>{% if is_granted('ROLE_ADMIN') %}
                                                                                            Admin</a></li>
                                                                                        {% elseif is_granted('ROLE_MANAGER') %}
                                                                                            Manager</a></li>
                                                                                        {% endif %}{% endif %}
                     
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href=" {{path('app_logout')}}" class="active"><i class="fas fa-sign-out-alt"></i>Disconnect</a></li>
                        {% else %}
                            <li><a href="{{path('app_login')}}" class=""><i class="fas fa-sign-in-alt"></i>Connect</a></li>
                    {% endif %}                   
                            <li>
                                <div class="search-container">
                                    <input type="text" name="search" placeholder="Search..." class="search-input">
                                    <a href="#" class="search-btn"><i class="fas fa-search"></i></a>      
                                </div>
                            </li>
                            <label for="toggle-btn" class="hide-menu-btn"><i class="fas fa-times"></i></label>
                        </ul>
                    </nav>
                    {% if is_granted('ROLE_MANAGER') %}
                        {% include 'back/subnav.html.twig' %}
                    {% endif %}                       

            </header>

            <main> 
                {# Widget film au hasard #}
                {% if randomMovie is defined %}  
                    <div class= "widget-random">
                        <p>Un film au hasard : <a href="{{ path('movie_read', {slug: randomMovie.slug}) }}">{{ randomMovie.title }}</a></p>
                    </div>
                {% endif %}

                {{ include('_flash_messages.html.twig') }}

                {% block body %}{% endblock %}



            </main>

            <footer>
                O'Ciné &copy; Vincent Levionnais - Ecole O'clock, Promo Trinity 2021
            </footer>
        </div>
    </body>
</html>
